//
// Media Query breakpoint variables
// --------------------------------------------------

$mq-small: 420px;
$mq-medium: 760px;
$mq-regular: 980px;
$mq-large: 1140px;

//
// Media Query - above breakpoint
// --------------------------------------------------

@mixin mq-above( $breakpoint ) {
  @if $breakpoint == small  {
    @media only screen and (min-width: $mq-small) { @content; }
  }
  @else if $breakpoint == medium  {
    @media only screen and (min-width: $mq-medium) { @content; }
  }
  @else if $breakpoint == regular  {
    @media only screen and (min-width: $mq-regular) { @content; }
    .ie8 & { @content; }
  }
  @else if $breakpoint == large  {
    @media only screen and (min-width: $mq-large) { @content; }
  }
}

//
// Media Query - between breakpoints
// --------------------------------------------------

@mixin mq-between( $breakpoint ) {
  @if $breakpoint == small-medium  {
    @media only screen and (min-width: $mq-small) and (max-width: $mq-medium - 1) { @content; }
  }
  @else if $breakpoint == medium-regular  {
    @media only screen and (min-width: $mq-medium) and (max-width: $mq-regular - 1) { @content; }
  }
  @else if $breakpoint == regular-large  {
    @media only screen and (min-width: $mq-regular) and (max-width: $mq-large - 1) { @content; }
  }
}

/**
  * Module
  * -------------------------
  *
  */
  
.module {
  
  @include mq-above( small ) {
  
  } // small
  
  @include mq-between( small-medium ) {
  
  } // small-medium
  
  @include mq-above( medium ) {
  
  } // medium
  
  @include mq-between( medium-regular ) {
  
  } // medium-regular
  
  @include mq-above( regular ) {
  
  } // regular
  
  @include mq-between( regular-large ) {
  
  } // regular-large
  
  @include mq-above( large ) {
  
  } // large
  
  .ie & {
    
  } // .ie &
  
  .ie8 & {
    
  } // .ie8 &
  
  .ie9 & {
    
  } // .ie9 &
  
} // .module
