@mixin under($breakpoint) {
  $max-width: (get-breakpoint("horizontal", $breakpoint) - 1);
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin between($min-breakpoint, $max-breakpoint) {
  $min-width: get-breakpoint("horizontal", $min-breakpoint);
  $max-width: (get-breakpoint("horizontal", $max-breakpoint) - 1);
  @media screen and (min-width: $min-width) and (max-width: $max-width) {
   @content;
  }
}

@mixin above($breakpoint) {
  $min-width: get-breakpoint("horizontal", $breakpoint);
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin v-under($breakpoint) {
  $max-height: (get-breakpoint("vertical", $breakpoint) - 1);
  @media screen and (max-height: $max-height) {
    @content;
  }
}

@mixin v-between($min-breakpoint, $max-breakpoint) {
  $min-height: get-breakpoint("vertical", $min-breakpoint);
  $max-height: (get-breakpoint("vertical", $max-breakpoint) - 1);
  @media screen and (min-height: $min-height) and (max-height: $max-height) {
   @content;
  }
}

@mixin v-above($breakpoint) {
  $min-height: get-breakpoint("vertical", $breakpoint);
  @media screen and (min-height: $min-height) {
    @content;
  }
}

@mixin hd() {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @content;
  }
}

@mixin uhd() {
  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi), (min-resolution: 3dppx) {
    @content;
  }
}
