//
// Form variables
// --------------------------------------------------

// Typography
// -------------------------
$form-input-font-size-small: 11px;
$form-input-font-size-default: 13px;
$form-input-font-size-large: 15px;
$form-input-font-size-huge: 18px;

$form-input-line-height-small: 14px;
$form-input-line-height-default: 20px;
$form-input-line-height-large: 20px;
$form-input-line-height-huge: 22px;

// Shape
// -------------------------
$form-input-border-radius-small: 2px;
$form-input-border-radius-default: 3px;
$form-input-border-radius-large: 4px;
$form-input-border-radius-huge: 5px;

// Sizing
// -------------------------
$form-input-padding-small: 4px 5px;
$form-input-padding-default: 6px 12px;
$form-input-padding-large: 10px 20px;
$form-input-padding-huge: 11px 24px;

// Placeholder color
// -------------------------
$form-input-placeholder-color: #aab2bd;

// Default form input
// -------------------------
$form-input-color-default: #434a54;
$form-input-border-color-default: #ccd1d9;
$form-input-background-color-default: #fff;

// Danger form input
// -------------------------
$form-input-color-danger: #da4453;
$form-input-border-color-danger: #fc6e51;

// Success form input
// -------------------------
$form-input-color-success: #37bc9b;
$form-input-border-color-success: #48cfad;