/**
  * ==========================================================================
  * GRID
  * ==========================================================================
  *
  * Recommended usage
  * -------------------------
  *  <div class="row {no-gutter | small-gutter | large-gutter}">
  *    <div class="column {size}-{columns}of{max-columns}">
  *      ...
  *    </div>
  *  </div>
  *
  */

.row {
  width: auto;
  margin: $row-default-gutter;
  @include clearfix();
  &.no-gutter {
    margin: $row-no-gutter;
  }
  &.tiny-gutter {
    margin: $row-tiny-gutter;
  }
  &.small-gutter {
    margin: $row-small-gutter;
  }
  &.large-gutter {
    margin: $row-large-gutter;
  }
}

.column {
  min-height: 1px;
  float: left;
  display: block;
  width: 100%;
  padding: $column-default-gutter;
  .no-gutter > & {
    padding: $column-no-gutter;
  }
  .tiny-gutter > & {
    padding: $column-tiny-gutter;
  }
  .small-gutter > & {
    padding: $column-small-gutter;
  }
  .large-gutter > & {
    padding: $column-large-gutter;
  }
}

/**
  * Large viewport grid
  */
  
@media (min-width: $grid-screen-large) {
  @include create-columns( 12, large );
}

/**
  * Regular viewport grid
  */
  
@media (min-width: $grid-screen-regular) and (max-width: $grid-screen-regular-max) {
  @include create-columns( 12, regular );
}

/**
  * Medium viewport grid
  */

@media (min-width: $grid-screen-medium) and (max-width: $grid-screen-medium-max) {
  @include create-columns( 12, medium );
}

/**
  * Small viewport grid
  */
  
@media (max-width: $grid-screen-small) {
  @include create-columns( 12, small );
}
